@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  body,
  td,
  th,
  tr,
  p,
  a {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px
  }

  name {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 32px;

  }